<div class="container mt-4">
  <% if !user_signed_in? %>
    <%= render 'shared/value_prop' %>
  <% else %>
    <div class="d-flex mb-4 align-items-center justify-content-between">
      <h4 class="px-3 m-0"><strong>Здраво, <%= current_user.name.split.first %>!</strong></h4>
      <div class="nav-item dropdown px-3">
        <%= image_tag "#{current_user.fb_pic_url}",
          class: "avatar border border-white border-2 shadow dropdown-toggle",
          id: "navbarDropdown",
          data: { bs_toggle: "dropdown" },
          'aria-haspopup': true,
          'aria-expanded': false
        %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= button_to "Одјави се",
            destroy_user_session_path,
            method: :delete,
            data: { turbo: "false" },
            class: "dropdown-item"
          %>
          <%= link_to "Политика на приватност", privacy_path, class:"dropdown-item" %>
          <%= link_to "Услови на користење", terms_path, class:"dropdown-item" %>
          <%= mail_to "mitev.nkl@gmail.com", "Контакт", class:"dropdown-item" %>
        </div>
      </div>
    </div>
    <div class="bg-white shadow-sm p-3 mx-1 rounded">
      <%= simple_form_for @post do |f| %>
        <div class="row mb-3 g-3">
          <div class="col-6">
            <%= f.input :post_type,
              collection: ["Нудам", "Барам"],
              label: "Барам/нудам"
            %>
          </div>
          <div class="col-6">
            <%= f.input :spaces,
              collection: ["1", "2", "3", "4"],
              label: "Бр. места"
            %>
          </div>
        </div>
        <div class="row mb-3 g-3">
          <div class="col-6">
            <%= f.input :from_city,
              collection: ["Скопје", "Кочани"],
              label: "Oд град"
            %>
          </div>
          <div class="col-6">
            <%= f.input :to_city,
              collection: ["Скопје", "Кочани"],
              label: "До град"
            %>
          </div>
        </div>
        <div class="row mb-3 g-2">
          <div class="col-6">
            <%= f.input :start_time,
              html5: true,
              label: "Тргање од"
            %>
          </div>
          <div class="col-6">
            <%= f.input :end_time,
              html5: true,
              label: "Тргање до"
            %>
          </div>
        </div>
        <%= f.input :phone,
          label: "Мобилен",
          input_html: { data: { autocomplete: "on" } },
          placeholder: "Опционално"
        %>
        <p class="text-center">
          <%= f.submit 'Барај',
            class: "mt-4 btn btn-lg btn-dark w-100"
          %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
