<div class="container">
  <% if user_signed_in? %>
  <p class="px-3">Welcome, <%= current_user.name %>!</p>
  <div class="bg-white shadow-sm p-3 mx-1 rounded">
    <%= simple_form_for @post do |f| %>
      <div class="row mb-3 g-3">
        <div class="col-6">
          <%= f.input :post_type, collection: ["Nudam", "Baram"], label: "Baram/Nudam", error: 'Mandatory' %>
        </div>
        <div class="col-6">
          <%= f.input :spaces, collection: ["1", "2", "3", "4"], label: "Mesta broj", error: 'Mandatory' %>
        </div>
      </div>

      <div class="row mb-3 g-3">
        <div class="col-6">
          <%= f.input :from_city, collection: ["Skopje", "Kocani"], label: "Od grad", error: 'Mandatory' %>
        </div>
        <div class="col-6">
          <%= f.input :to_city, collection: ["Skopje", "Kocani"], label: "Do grad", error: 'Mandatory' %>
        </div>
      </div>

      <div class="row mb-3 g-2">
        <div class="col-6">
          <%= f.input :start_time, html5: true, label: "Trgnuvanje od", error: 'Mandatory' %>
        </div>
        <div class="col-6">
          <%= f.input :end_time, html5: true, label: "Trgnuvanje do", error: 'Mandatory' %>
        </div>
      </div>
      <p class="text-center"><%= f.submit 'Search', class: "mt-2 btn btn-lg btn-dark w-100" %></p>
    <% end %>
  </div>
  <% else %>
    <h4 class="px-3 my-4"><strong>Welcome to our ride-sharing app!</strong></h4>
    <p class="px-3 my-4">
      <ul>
        <li>Create a car sharig post</li>
        <li>See best matches</li>
        <li>Contact them on Messenger</li>
      </ul>
    </p>
    <%= button_to user_facebook_omniauth_authorize_path, class: "btn btn-lg px-3 mx-3 btn-primary mb-3", data: { turbo: false } do %>
      <p class="mx-3 my-0"><i class="fa-brands fa-facebook"></i> Continue with Facebook</p>
    <% end %>
    <div class="fixed-bottom col-lg-5 p-4 mb-4 mx-auto">
    <p>© Caravan.mk 2023</p>
    <%= link_to "Privacy policy", privacy_path %> -
    <%= link_to "Terms of service", terms_path %> -
    <%= link_to "Data deletion", data_deletion_path %> -
    <%= mail_to "mitev.nkl@gmail.com", "Contact us" %>
    </div>
  <% end %>
</div>
