<div class="container px-3">
  <p class="text-muted px-2"><%= @my_post.minutes_ago %></p>
  <h5 class="fw-bolder mb-3"><i>"<%= @my_post.post_type %> <%= @my_post.mesta %>, <%= @my_post.from_city %> - <%= @my_post.to_city %>, <%= @my_post.od_do %>"</i></h5>
  <div class="bg-warning mb-3 p-3 d-flex justify-content-between align-items-center">
    <p class="m-0 text-danger">This post will be destroyed in <%= @my_post.self_destroy %></p>
    <%= button_to 'Delete', destroy_path(@my_post), style: "margin-left: 1rem", class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <p class="text-muted px-2">Suggested matches</p>
  <div class="bg-white rounded shadow-sm p-3">
    <div class="d-flex px-2 justify-content-between align-items-center">
      <div class="d-flex align-items-venter">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class:"avatar-large" %>
        <div class="px-3">
          <p class="mb-0 mt-1"><strong>Aleksandar N.</strong></p>
          <p class="m-0 text-muted"><small>10 minutes ago</small></p>
        </div>
      </div>
      <div class="dropdown">
        <i class="m-0 text-dark fa shadow-sm fa-xl fa-comments" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="px-3 dropdown-menu " aria-labelledby="navbarDropdown">
          <p class=""><small>"I offer 2 spaces, from Skopje to Stip, departure from Friday 12:00 - 15:00"</small></p>
          <p class="btn btn-primary w-100"><i class="fa fa-brands fa-facebook-messenger"></i><small> Messenger</small></p>
        </div>
      </div>
    </div>
  </div>
  <% @matches.each do |post| %>
    <div class="bg-white p-3">
      <%= post.from_city %>
      <%= post.to_city %>
      <%= post.start_time %>
      <%= post.end_time %>
      <%= post.spaces %>
      <%= post.post_type %>
      <%= post.user.email %>
    </div>
  <% end %>
</div>
