<div class="bg-white mb-3 p-4">
  <div class="nav-item dropdown text-center">
    <%= image_tag "#{current_user.fb_pic_url}", class: "avatar avatar-large border border-success border-2 shadow-sm dropdown-toggle", style:"width: 5rem", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "dropdown-item" %>
    </div>
  </div>
  <p class="text-muted text-center mt-2"><small><%= @my_post.minutes_ago %> објавивте</small></p>
  <h5 class="fw-bolder mb-3 text-center">" <%= @my_post.post_type %> <%= @my_post.mesta %>, <%= @my_post.from_city %> - <%= @my_post.to_city %>, <%= @my_post.od_do %> "</h5>
  <p class="text-center m-0 text-muted"><small>Ќе се избрише за <%= @my_post.self_destroy %></small></p>
  <%= button_to 'Избриши објава', destroy_path(@my_post), style: "", class: "btn w-100 mt-2 btn-outline-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% if @matches.length == 0 %>
  <p class="mt-5 text-center">😔 Не се пронајдени резултати.</p>
  <p class="px-4 text-center text-muted">Можеби доволен број на корисници сеуште немат слушнато за оваа алатка.</p>
  <p class="text-center"><%= link_to "Сподели со пријател", "#", class:"btn btn-lg btn-dark", id: "share-link", data: { url: root_path } %></p>
  <script>
    document.getElementById("share-link").addEventListener("click", function(event) {
      event.preventDefault();
      if (navigator.share) {
        navigator.share({
          url: event.target.dataset.url
        })
          .then(() => console.log("Shared successfully"))
          .catch(error => console.error("Error sharing:", error));
      } else {
        console.error("Web Share API not supported");
      }
    });
  </script>
<% else %>
<p class="text-muted text-center"><small>Пронајдени мечови</small></p>
  <% @matches.each do |post| %>
    <hr class="mx-3">
    <div class="d-flex mx-3 px-2 justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <%= image_tag "#{post.user.fb_pic_url}", class:"avatar-large" %>
        <div class="px-3">
          <p class="mb-0 mt-1"><strong><%= post.user.name %></strong></p>
          <p class="m-0 text-muted"><small><%= post.minutes_ago %></small></p>
        </div>
      </div>
      <div>
        <% if post.phone.present? %>
          <%= link_to post.phone, "tel:#{post.phone}", class:"btn btn-lg btn-white rounded-4 shadow-lg border-0", style:"width: 3.25rem; height: 3.25rem;" do %>
            <i class="fa fa-solid my-2 text-dark fa-phone"></i>
          <% end %>
        <% end %>
        <%= link_to post.user.profile_link, class:"btn mx-1 btn-lg btn-white rounded-4 shadow-lg border-0", style:"width: 3.25rem; height:3.25rem;" do %>
          <i class="fa fa-brands my-2 fa-facebook-f" style="color: #4267B2"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
